<nav class="navbar navbar-expand-md bg navbar fixed-right">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/calculator">Calculator</a>
        </li>
        <br>
        <li class="nav-item">
          <a class="nav-link" routerLink="/basicForm">Basic Form</a><br>
        </li>
        <br>
        <li class="nav-item">
            <a class="nav-link" routerLink="/apiDemo">API demo</a><br>
          </li>
      </ul>
    </div>
  </nav>
